<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Images/style.css"/>
    <title>Heroes</title>
</head>
<body>
<header>
    <div class="descuento">Descuento 20%</div>
    <div h1 class="principal">Nombre Tienda</div>
</header>

<main>
    <form action="" method="GET">
        <h1 class="login">Contacto</h1>
  
        <label for="name"></label>
        <input type="text" name="nombreUsuario" placeholder="usuario" />
        <label for="name"></label>
        <input type="text" name="contraseña" placeholder="contraseña" />
        <button type="submit">ENTRAR</button>
        <a class="link" href="login.html">¿Olvidaste tu contraseña? Registrate</a>
      </form>


</main>


</body>



<footer>
    <p>Todos los derechos reservados a FRONT END 1</p>
  </footer>
</html>