<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Images/style.css" />
    <title>Document</title>
</head>
<body>
<header>
    <header>
        <div class="descuento">Descuento 20%</div>
        <div h1 class="principal">Nombre de la tienda</div>
      </header>
      <div class="menu">
        <nav>
          <ul>
        <li><a href="views/contacto.html">Contacto</a></li>
        <li><a href="views/registo.html">Registrarme</a></li>
        <li><a href="views/login.html">Ingresar</a></li>
          </ul>
        </nav>
      </div>
<main class="super">
  <div class="caja11">
<h1>Añadi tu super!</h1>
<p> Agregá tu preersonaje favorito completando las opciones</p>
 
<input type="nombre" name="nombre">
<label for="*nombre">*nombre</label>
<input type="especie" name="especie">
<label for="especie">*especie</label>
<div class="caja1bis">
  <textarea name="" id="" cols="30" rows="10" placeholder="Descripcion"></textarea>
</div>
<input type="checkbox" name="poderes">
<span>Volar</span>
<input type="checkbox" name="poderes">
<span>Super inteligencia</span>
<input type="checkbox" name="poderes">
<span>Vista de rayo laser</span>
<input type="checkbox" name="poderes">
<span>Billetera gorda</span>

<div class="ultimoboton">
<button type="ultimoboton">Añadir</button>
</form>

</main>
<footer>
    <p>Todos los derechos reservados a FRONT END 1</p>
  </footer>    
</body>
</html>